<!-- prepare variables -->

{% if page.group %}

  {% assign group_pages = site.html_pages | where:"group",page.group | sort: 'order' %}
  {% assign current_group = site.groups | where:"name",page.group | first %}

  <!-- next/prev based on pages order -->
  {% for item in group_pages %}
    {% if item.short == page.short %}
      {% unless forloop.first %}
        {% assign prev = iterator %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = group_pages[forloop.index] %}
      {% endunless %}
    {% endif %}
    {% assign iterator = item %}
  {% endfor %}

  <!-- if no next/prev page, link to first/last page of next/prev group -->
  {% if prev == empty and current_group.prev != empty %}
    {% assign prev_group_pages = site.html_pages | where:"group",group.prev | sort: 'order' %}
    {% assign prev = prev_group_pages.last %}
  {% endif %}
  {% if next == empty and group.next != empty %}
    {% assign next_group_pages = site.html_pages | where:"group",group.next | sort: 'order' %}
    {% assign next = next_group_pages.first %}
  {% endif %}

{% endif %}
