<!-- prepare variables -->

{% if page.group %}

  {% assign group_pages = site.html_pages | where:"group",page.group | sort: 'order' %}
  {% assign current_group = site.groups | where:"name",page.group | first %}

  <!-- next/prev based on pages order -->
  {% for item in group_pages %}
    {% if item.short == page.short %}
      {% unless forloop.first %}
        {% assign prev = iterator %}
      {% endunless %}
      {% unless forloop.last %}
        {% assign next = group_pages[forloop.index] %}
      {% endunless %}
    {% endif %}
    {% assign iterator = item %}
  {% endfor %}

  <!-- if no next/prev page, link to first/last page of next/prev group -->
  <h1>group</h1>  
  {% unless prev %}
    <h1>PREV</h1>
    {% assign prev_group_pages = site.html_pages | where:"group",current_group.prev | sort: 'order' %}
    {% assign prev = prev_group_pages.last %}
  {% endunless %}
  {% unless next %}
    <h1>NEXT</h1>
    {% assign next_group_pages = site.html_pages | where:"group",current_group.next | sort: 'order' %}
    {% assign next = next_group_pages.first %}
  {% endunless %}

{% endif %}
